<form [formGroup]="myForm" (ngSubmit)=save()>
  <div>
    <input type="text" formControlName="name" placeholder="name">
        <span *ngIf="myForm.controls['name'].errors?.['required']">input required</span>
  </div>
  <div>
    <input type="text" formControlName="username" placeholder="username">
    <span *ngIf="myForm.controls['username'].errors?.['required']">input required</span>
  </div>
  <div>
    <input type="text" formControlName="phone" placeholder="380">
      <span *ngIf="myForm.controls['phone'].errors?.['required']">input required</span>
    <span *ngIf="myForm.controls['phone'].errors?.['minlength']">min length is - {{myForm.controls['phone'].errors?.['minlength'].requiredLength}}, actual length is - {{myForm.controls['phone'].errors?.['minlength'].actualLength}}</span>
  </div>
  <div>
    <input type="text" formControlName="email" placeholder="email">
    <span *ngIf="myForm.controls['email'].errors?.['required']">input required</span>
      <span *ngIf="myForm.controls['email'].errors?.['email']">invalid</span>
  </div>
  <div formGroupName="address">
    <input type="text" formControlName="city" placeholder="city">
    <input type="text" formControlName="street" placeholder="street">
  </div>
  <button  [disabled]="myForm.invalid" type="submit">{{type}}</button>
</form>
