<form [formGroup]="this.myForm" (ngSubmit)=this.save() class="center">
  <div class="flex">
    <input class="input-group-text" type="text" formControlName="name" placeholder="name">
        <span *ngIf="this.myForm.controls['name'].errors?.['required']">input required</span>
  </div>
  <div class="flex">
    <input class="input-group-text" type="text" formControlName="username" placeholder="username">
    <span *ngIf="this.myForm.controls['username'].errors?.['required']">input required</span>
  </div>
  <div class="flex">
    <input class="input-group-text" type="text" formControlName="phone" placeholder="380">
      <span *ngIf="this.myForm.controls['phone'].errors?.['required']">input required</span>
      <span *ngIf="this.myForm.controls['phone'].errors?.['invalidNumber']">only number</span>
    <span *ngIf="this.myForm.controls['phone'].errors?.['minlength']">min length is - {{this.myForm.controls['phone'].errors?.['minlength'].requiredLength}}, actual length is - {{this.myForm.controls['phone'].errors?.['minlength'].actualLength}}</span>
  </div>
  <div class="input-group mb-3input-group mb-3 flex">
    <input class="input-group-text" type="text" formControlName="email" placeholder="@example.com">
    <span *ngIf="this.myForm.controls['email'].errors?.['required']">input required</span>
      <span *ngIf="this.myForm.controls['email'].errors?.['email']">invalid</span>
  </div>
  <h2 style="color:#182352; text-decoration: underline">Address</h2>
  <div class="flex" formGroupName="address">
    <input class="input-group-text" type="text" formControlName="city" placeholder="city">
    <input class="input-group-text" type="text" formControlName="street" placeholder="street" style="margin-left: 2px">
  </div>
  <button class="btn btn-success active"  [disabled]="this.myForm.invalid" type="submit">{{this.type}}</button>
</form>
